.app-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}
.title{
  height: 75%;
  width: 15%;
  display: flex;
  align-items: center;
  color: rgb(141, 42, 42);

}
h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px;
  display: inline;
}
